.card{
    text-align: center;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 5px;
    min-width: 250px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card span{
    margin-top: auto;
}