* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
  
img {
    display: block;
    max-width: 100%;
}
  
body{
    font-family: sans-serif;
}

.container{
    max-width: 1200px;
    margin: 50px auto;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: 1fr;
    justify-content: space-between;
    gap: 20px;
}